@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles and utilities */
body {
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 807px;
    border: 1px solid #D1D1D1;
    margin-top: 0;
    margin-bottom: 2px;
}



/* header-styles */

.header {
    background-color: #562EFF;
    margin: 0;
    display: flex;
    justify-content: center;
}

.header>div {
    display: flex;
    width: 870px;
    justify-content: space-between;
}

.header-title img {
    width: 41px;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-name h1 {
    color: #FFFFFF;
    font-size: 24px;
    margin-left: 15px;
}


.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 36px;
}

.menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}

/* dropdown-mega-menu */
.mega-menu {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    top: 40px;
    padding: 30px;
    border-radius: 5px;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
}

.dropdown>div {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown>div>h2 {
    color: #562EFF;
    font-size: 24px;
}

.dropdown>div a {
    color: black;
    font-size: 14px;
}

.dropdown>div a:hover {
    color: #562EFF
}

.menu .mega-menu:hover>.dropdown {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

/* Top-players-styles */
.container {
    width: 870px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin-top: 21px;
    border-radius: 5px;
}

.top-players-section {
    padding: 30px;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.top-players-title {
    font-size: 24px;
    color: #562EFF;
}

.top-players-title h3 {
    margin-top: 2px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player h3 {
    font-size: 18px;
    margin-left: 16px;
}


/* --------------
top-blogs-styles 
----------------*/
.top-blogs-header {
    font-size: 24px;
    color: #562EFF;

}

.top-blogs-header h3 {
    margin-bottom: 15px;
    margin-left: 30px;
}

.top-blogs {
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    display: flex;
    align-items: center;
}

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-info-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/*---------------
 Latest Course styles
 ---------------*/
.latest-course-header {
    margin-left: 30px;
    font-size: 24px;
    color: #562EFF;
}

.courses {
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course {
    margin-right: 56px;
    margin-bottom: 22px;
}

.course-details>p {
    font-size: 14px;
    color: #ED6B4F;
}

.course img {
    width: 224px;
    height: 104px;
}

.marked {
    font-size: 14px;
    color: #FFC014;
}

.no-marked {
    font-size: 14px;
    color: #AEAEAE;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.rating {
    color: #A2A2A2;
}

.time {
    font-size: 14px;
    background-color: #FFE4E8;
    padding: 5px 10px;
    border-radius: 20px;
    color: #ED6B4F;
}

/* footer styles */

.footer-text {
    font-size: 18px;
    color: #ED6B4F;
    margin: 40px;
    text-align: center;
}

.footer-text a {
    text-decoration: none;
    color: #000;
}

.footer-text a:hover {

    color: #ED6B4F;
}

/*-------------
 Media queries
-------------- */

/* Moblie devices */

@media only screen and (max-width:688px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header>div {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        /* margin-left: 36px; */
    }

    /* .menu .mega-menu:hover>.dropdown {
        display: none
    } */

    .top-players-title,
    .top-blogs-header,
    .latest-course-header {
        text-align: center;
    }

    .container {
        width: 100%;
    }

    hr {
        width: 80%;
    }

    .top-players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }

    .top-blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablets Devices  */

@media only screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .header-title h1 {
        letter-spacing: 0cm;
    }

    hr {
        width: 80%;
    }

    .top-players {
        grid-template-columns: repeat(2, 1fr);
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}